.atcf {
  text-align: center;
}

.atcf-logo {
  height: 24px;
}

.atcf-header {
  padding: 20px;
  color: #222;
  border-bottom: 10px solid #222;
}

.atcf-title {
  font-size: 24px;
}

.atcf-intro {
  font-size: large;
  margin-top: 40px;
  margin-bottom: 20px;
}