.crow-search input {
  border-radius: 0;
  border-radius: 0;
}

.crow-search input:focus {
  border-color: #ced4da;
  box-shadow: none;
}

.search-result-list {
  width: 100%;
  border: 1px solid #ced4da;
  border-top: none;
}

.search-result-list .search-result {
  cursor: pointer;
}

.search-result-list .search-result:nth-child(odd) {
  background: #ddd;
}

/* hover overrides odd child */
.search-result-list .search-result:hover {
  background: #222;
  color: white;
}